<div class="hero-unit">
	<h1>Welcome to my One Month Rails project!!</h1>
	<p>
		You've found my homepage.
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
	</div>
</div>